<div class="flex border-t-2 border-green-500 bg-blue-100 mx-auto sm:mx-32 px-32 py-4">
    <div class="inline-block mx-auto">
        <small>
            <a href="https://devflight.com"> Guidelines</a> | 
            <a href="https://devflight.com"> FAQ</a> |
            <a href="https://devflight.com"> Support</a> |
            <a href="https://devflight.com"> API</a> |
            <a href="https://devflight.com"> Security</a> |
            <a href="https://slack.devflight.com"> Slack</a> |
            <a href="https://devflight.com"> DevFlight</a>
        </small>
    </div>
</div>
